<%- include('../partials/header.ejs') %>
<div class="recipe-card chocolatecake">
        <h2>
            <%= ingredient.ingredientName %>
        </h2>
        <p>Amount:
            <%= ingredient.amount %>
        </p>
    <a class="submit" href="/recipe/<%= ingredient.recipe.id %>/ingredients/<%= ingredient.id %>/edit">Edit Ingredients</a>
</div>
<%- include('../partials/footer.ejs') %>