<%- include('../partials/header.ejs') %>
        <h2>
            <%= ingredient.ingredientName %>
        </h2>
        <p>Amount:
            <%= ingredient.amount %>
        </p>
    <a href="/recipe/<%= ingredient.recipe.id %>/ingredients/<%= ingredient.id %>/edit">Edit Ingredients</a>
<%- include('../partials/footer.ejs') %>