<%- include('../partials/header.ejs') %>

    <div class="chocolatecake">
        <h2>Edit The Recipe</h2>
        <form class="form-edit" action="/recipe/<%= recipe.id %>?_method=put" method="post">
            <p>Recipe Name:
            <input type="text" value="<%= recipe.recipeName %>" placeholder="<%= recipe.recipeName %>" name="recipeName" /></p>
            <p>Cook Time:
            <input type="text" value="<%= recipe.cookingTime %>" placeholder="<%= recipe.cookingTime %>" name="cookingTime" /></p>
            <p>Prep Time:
            <input type="text" value="<%= recipe.prepTime %>" placeholder="<%= recipe.prepTime %>" name="prepTime" /></p>
            <p>Instructions:
            <textarea type="text" value="<%= recipe.instructions %>" placeholder="<%= recipe.instructions %>" name="instructions" /></p>
            <p>
                <input class="submit" type="submit" id="submit">
            </p>
        </form>
        <form action="/recipe/<%= recipe.id %>?_method=delete" method="post">
            <input class="button submit" type="submit" value="Remove">
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>